body {
	width: 100%;
    height: 100%;
	background-image: url("MainBackgroud.jpg");
	margin :0;
    background-position: center;
    background-attachment: fixed;	 
}

h1{ 
	color:#fff;
    width: 100%;
	text-align: center;
	font-family:Lucida Sans Unicode;
	font-size :2.5vw;
}

#mainMenu {
	width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
	font-family:Verdana;
	text-align: center;	
	font-size :1.1vw;
}

#mainMenu li {
	display:block;
	width:200px;
	float:left;
	margin-left:45px;
	border:1px solid #black;
}

#mainMenu a {
	display:block;
	padding:7px;
	text-decoration:none;
	background-color:#FFE5B4;
	color:#A52A2A;
}

#mainMenu a:hover {
	background-color:#009;
	color:#fff;
}


div.topnav{
  position: relative;
  width: 100%;
  bottom: 20px;
}

#columnC{
	position: relative;
	background:linear-gradient(to top,#C0CAD6 100%,transparent 80%);
	border: 3px solid #00008B;
	padding: 15px;  
    opacity:0.90;
   	bottom: -30px;
	margin-left:auto; 
	margin-right:auto;
	font-size: 16px;
	font-family:arial;	
	text-align:center;
}

div.fixed{
	position: relative;
	bottom: -80px;
	font-size: 16px;
	font-family:arial;
	color: #black;
	background:#fff;
	font-size :1.1vw;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #FFE5B4;
  color:  #800080;
}

div.loginAlready{
  position:relative;
  width:20%;
  left: 1160px;
  top:-10px;
  border: solid;
  background-color:lightgreen
}


#columnD{
	position: relative;
	bottom: -35px;
	left: 1280px;
	
}

.w3-button {width:40px;}
