body {
	width: 100%;
    height: 100%;
	background-image: url("MainBackgroud.jpg");
	margin :0;
    background-position: center;
    background-attachment: fixed;	 
}

h1{ 
	color:#fff;
    width: 100%;
	text-align: center;
	font-family:Lucida Sans Unicode;
	font-size :2.5vw;
}

#mainMenu {
	width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
	font-family:Verdana;
	text-align: center;	
	font-size :1.1vw;
}


#mainMenu a:hover {
	background-color:#009;
	color:#fff;
}

#mainMenu li {
	display:block;
	width:200px;
	float:left;
	margin-left:45px;
	border:1px solid;
}

#mainMenu a {
	display:block;
	padding:7px;
	background-color:#FFE5B4;
	color:#A52A2A;
	text-decoration:none;
	
}

div.topnav{
	
  position: relative;
  bottom: 20px;
  
}




div.fixed{
	position: relative;
	bottom: -80px;
	font-size: 16px;
	font-family:arial;
	color: #black;
	background:#fff;
	font-size :1.1vw;
}

h2{
text-align: center;
}



p{
	
text-align: center

}

div.loginAlready{

  position:relative;
  width:17%;
  left: 910px;
  top:5px;
  border:1px solid;
  background:#ffdfd3;

}

#columnC{
	position: relative;
	background:linear-gradient(to top,#FFA8B5 100%,transparent 80%);
	border: 3px solid #00008B;
	padding: 15px;  
    opacity:0.90;
   	bottom: -30px;
	margin-left:auto; 
	margin-right:auto;
	font-size: 16px;
	font-family:arial;	
	text-align:center;
}

div.fixed{
	position: relative;
	bottom: -120px;
		width: 100%;
	font-size: 16px;
	font-family:Lucida Sans Unicode;
	color: #black;
	background:#fff;
	font-size :1.1vw;
}


.dropbtn {
 position:relative;
 color:#A52A2A;
	 background-color:#FFE5B4;
  padding: 8px;
 font-size :1.1vw;
  width: 200px;
  bottom: -2px;
  left:10px;
  font-family:Verdana;
	text-align: center;	
  cursor: pointer;
  border:1px solid;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
	float:left;
	 bottom: 1px;
	  width: 200px;
	margin-left:25px;
	font-family:Verdana;
 font-size :1.1vw;
 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  text-align: center;
  position: absolute;
  min-width: 200px;
   font-size :1.1vw;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
   font-size :1.1vw;
  text-decoration: none;
  display: block;
  position: relative;
    left:10px;
	color:#A52A2A;
	 background-color:#FFE5B4;
	 border:1px solid;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background:#009;
    color: white;}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background:#009;
    color: white;}

.dropbtn1 {
 position:relative;
 color:#A52A2A;
	 background-color:#FFE5B4;
  padding: 8px;
 font-size :1.1vw;
  width: 200px;
  bottom: -2px;
  left:10px;
  font-family:Verdana;
	text-align: center;	
  cursor: pointer;
  border:1px solid;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: relative;
	float:left;
	 bottom: 1px;
	  width: 200px;
	margin-left:25px;
	font-family:Verdana;
 font-size :1.1vw;
 
 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
  display: none;
  text-align: center;
  position: absolute;
  min-width: 200px;
   font-size :1.1vw;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content1 a {
  padding: 12px 16px;
   font-size :1.1vw;
  text-decoration: none;
  display: block;
  position: relative;
    left:10px;
	color:#A52A2A;
	 background-color:#FFE5B4;
	 border:1px solid;
}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {background:#009;
    color: white;}


/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-content1 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn1{background:#009;
    color: white;}

div.topnav{
  position: relative;
  margin-left:200; 
  bottom: -5px;
  margin-right:auto;
}

#mainMenu {
	width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
	font-family:Verdana;
	text-align: center;	
	font-size :1.1vw;
	
}

#mainMenu li {
	display:block;
	width:200px;
	float:left;
	margin-left:45px;
	border:1px solid;
}

#mainMenu a {
	display:block;
	padding:7px;
	background-color:#FFE5B4;
	color:#A52A2A;
	text-decoration:none;
	
}

#mainMenu a:hover {
	background-color:#009;
	color:#fff;
	
}

div.loginAlready{
  position:relative;
  width:17%;
  left: 910px;
  top:5px;
  border:1px solid;
  background:#ffdfd3;

}

#columnD{
	position: relative;
	bottom: -35px;
	left: 1280px;
	
}

.w3-button {width:40px;}

div.search{
	
  position:relative;
  width:20%;
  left: 1190px;
  bottom: -65px;
	
	
}